/* 

--copper-crayola: hsla(20, 49%, 56%, 1);
--tumbleweed: hsla(21, 79%, 74%, 1);
--navajo-white: hsla(39, 83%, 81%, 1);
--pewter-blue: hsla(198, 16%, 66%, 1);
--blood-red: hsla(14, 100%, 19%, 1); 

*/

.App {
  text-align: center;
}

.Header {
  background-color: var(--blood-red);
  color: white;
  display: flex;
  align-items: center;
  margin: 1rem;
  justify-content: space-between;
  margin: 0;
  padding: 0 1rem;
}

.transition {
  transition: 500ms;
}

.Characters {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
}

.Dark {
  background-color: black;
}

.Dark .Cart {
  color: black;
}

.Cart {
  padding: 1.5rem;
  background-color: var(--pewter-blue);
  border-radius: 1rem;
  color: white;
  text-align: left;
}

.Cart img {
  border-radius: 1rem;
  height: 30vh;
  width: 100%;
  object-fit: cover;
}

.Cart p span {
  margin-left: 0.5rem;
}