/* 

--copper-crayola: hsla(20, 49%, 56%, 1);
--tumbleweed: hsla(21, 79%, 74%, 1);
--navajo-white: hsla(39, 83%, 81%, 1);
--pewter-blue: hsla(198, 16%, 66%, 1);
--blood-red: hsla(14, 100%, 19%, 1); 

*/

.transition {
  transition: 500ms;
}

.App {
  text-align: center;
}

.Header {
  background-color: var(--blood-red);
  color: white;
  display: flex;
  align-items: center;
  margin: 1rem;
  justify-content: space-between;
  margin: 0;
  padding: 0 1rem;
}

.Header button {
  background-color: var(--navajo-white);
  border-radius: 1rem;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.searchBar {
  display: flex;
  padding: 0 1rem;
}

@media screen and (max-width: 680px){
  .searchBar {
    flex-direction: column;
  }
  .searchBar div {
    padding: 1rem 0.5rem!important;
  }
  .Characters {
    padding: 1rem!important;
  }
}

.searchBar div {
  flex: 1;
  text-align: start;
  padding: 1rem;
}

.searchBar label {
  display: block;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.searchBar div input{
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 1rem;
  border: 1px solid var(--copper-crayola);
}

.Characters {
  padding: 1.5rem 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  justify-items: center;
}

.Dark {
  background-color: black;
}

.Dark .Cart {
  color: black;
}

.Cart {
  padding: 1.5rem;
  background-color: var(--pewter-blue);
  border-radius: 1rem;
  color: white;
  text-align: left;
  max-width: 15rem;
}

.Cart img {
  border-radius: 1rem;
  height: 30vh;
  width: 100%;
  object-fit: cover;
}

.Cart h4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Cart h4 span {
  cursor: pointer;
}

.Cart p span {
  margin-left: 0.5rem;
}